
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 20px;
    transition: .5s;

}

header .logo img {
    max-width: 100%;
    width: 210px;
    height: auto;
}

.tool-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;

}

.tool-list img {
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
    cursor: pointer;
    border: 5px solid transparent;
}

.tool-list select {   
    background-color: var(--bg-color);
    border-radius: 5px;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    font-family: var(--en-font);
}

.tool-list select option{    
    background-color: var(--bg-color);    
    color: var(--main-color);
    font-weight: 600;    
}

header.sticky {
    background: var(--bg-color);
    padding: 13px 10%;
    box-shadow: 0px 0px 10px rgba(31, 30, 30, 0.1);
}


@media (max-width: 1425px) {
    header {
        padding: 16px 3%;
        transition: .3s;
    }

    header.sticky {
        padding: 10px 3%;
        transition: .3s;
    }
}
