<div class="about-text">
    <h3 translate>I'm a Designer and Developer</h3>
    <h2 translate>I Can Develop Desktop and Web Application</h2>
    <p translate>Hello there! I am a highly organized person, hardworking and ambitious, I like teamwork and I
        am looking
        for a real opportunity in a reputable organization. I have experience in agile software development and
        lean development, as well as master some engineering practices to build quality into software..</p>
    <a routerLink="/contact" class="btn" translate>Hire Me</a>
</div>