<!--------contact---->
<section id="contact">
  <h1 translate>Contact</h1>
  <div class="center">
    <h3 translate>Interested to work together?</h3>
    <p translate>Send me an email</p>
  </div>
  
  <div class="contact">    
      <form>
        <input type="email" name="email" #email [placeholder]="eplaceHolder|translate" required />
        <textarea type="textarea" required [placeholder]="tplaceHolder|translate"></textarea>
        <button type="submit" class="btn btn-2" translate>submit</button>   
      </form>       
  </div>

  <!--------ends---->
  <div class="ends">
    <p translate>Made by Eng. Audai Salman Alsharani © 2023</p>
  </div>
</section>