.home-img img {
    max-width: 100%;
    width: 450px;
    height: auto;
}

@media (max-width: 800px) {
    
    .home-img {
        text-align: center;
        margin-top: 35px;
    }

    .home-img img {
        width: 340px;
        height: auto;
    }
}