<!--------service---->
<section id="service">
    <h1 translate>Service</h1>
    <div class="heading">        
        <h3 translate>What I Do For Clients</h3>
        <p translate>Most common methods for designing websites that work well on desktop is <br translate> responsive and adaptive
            design</p>
    </div>

    <div class="service-content">
        
        <div class="row" *ngFor="let item of SERVICE">
            <div class="s s-tow">
                <img src="{{item.image}}">
            </div>
            <h3>{{item.title | translate}}</h3>
            <h5 translate>Starts From <span>{{item.price | translate}}</span></h5>
            <p>{{item.description | translate}}</p>
        </div>

    </div>

	<a href="https://samaudai.github.io/My_Resume/" target="_blank" class="btn btn-2" translate>see more</a>

</section>