
/*=============================== Service Component Style ========================================*/
h1 {
    font-size: var(--h1-font);
    font-weight: 700;
    text-align: center;
    margin: 20px;
    line-height: 1.1;
    color: var(--main-color);
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}

.heading h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.heading p {
    font-size: var(--p-font);
    color: var(--font-color);
    line-height: 28px;
}

.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}

.row {
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 45px 45px 45px 45px;
    transition: ease .45s;
    cursor: pointer;
}

.s img {
    height: 65px;
    width: 65px;
    background: #f75124;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.s.s-tow img {
    background: #baebcd;
}

.s.s-three img {
    background: #d9d1fa;
}

.s.s-four img {
    background: #faedce;
}

.row h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--font-color);
}

.row h5 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 19px;
    color: var(--font-color);
}

.row p {
    font-size: var(--p-font);
    color: var(--font-color);
    line-height: 28px;
}

.row:hover {
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
    background-color: var(--hover-color);
}

.cta .heading{
    margin-top: 5rem;
    color: var(--text-color);
}

.cta-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

.wrap {    
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 50px;
    transition: ease .5s;
    cursor: pointer;
}

.one {
    background: #baebcd;
}

.two {
    background: #c3bbe6;
}

.three {
    background: #ecddb9;
}

.wrap h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--main-color);
}

.wrap p {
    font-size: var(--p-font);
    color: var(--main-color);
}

.btn-2 {
    display: block;
    margin: 30px auto;
    width: fit-content;    
}
