<!--------sub service---->
<section id="about">
	<h1 translate>About</h1>
	<div class="items">
		<div class="sub-box">
			<div class="sub-img">
				<img src="../../../assets/image/target.svg">
			</div>
			<h3 translate>Pixel Perfect</h3>
			<p translate>Responsive and adaptive web design. Works fine on all devices.</p>
		</div>

		<div class="sub-box">
			<div class="sub-img">
				<img src="../../../assets/image/brush.svg">
			</div>
			<h3 translate>High Quality</h3>
			<p translate>Delivering High-Quality Solutions, and Excellence in Every Line of Code.</p>
		</div>

		<div class="sub-box">
			<div class="sub-img">
				<img src="../../../assets/image/energy.svg">
			</div>
			<h3 translate>Awesome Idea</h3>
			<p translate>Transforming Awesome Ideas into Digital Reality, 
				and bringing it to life.				
			</p>
		</div>
	</div>

	<!--------About---->
	<div class="about">
		<div class="about-img">
			<img src="../../../assets/image/about.jpg">
		</div>

		<div class="about-text">
			<h3 translate>I'm a Designer and Developer</h3>
			<h2 translate>I Can Develop Desktop and Web Application</h2>
			<p translate>Hello there! I am a highly organized person, hardworking and ambitious, I like teamwork and I am looking
				for a real opportunity in a reputable organization. I have experience in agile software development and
				lean development, as well as master some engineering practices to build quality into software..</p>
			<a routerLink="/contact" class="btn" translate>Hire Me</a>
		</div>
	</div>
</section>