<section id="home">
    <div class="home">
        <div class="home-text">
            <h3 translate>Hello, I'm</h3>
            <h1 translate>Audai Alsharani</h1>
            <!-- interpolation data binding -->
            <h4>{{sourceCurrent | translate}}</h4>
            <p translate>Transforming Ideas into Elegant Code, One Stack at a Time. <br> Crafting Innovation Through Code: Web, App, and Beyond.</p>
            <div class="social">
                <a href="https://www.facebook.com/audai0" target="_blank"><i class='fab fa-facebook facebook'></i></a>
                <a href="#"><i class='fab fa-whatsapp whatsapp'></i></a>
                <a href="https://linkedin.com/in/audai-alsh-arani-100738211" target="_blank"><i
                        class='fab fa-linkedin linkedin'></i></a>
                <a href="#"><i class='fab fa-instagram instagram'></i></a>
                <a href="#"><i class='fab fa-telegram telegram'></i></a>
            </div>
            <a href="../../assets/image/My_CV.pdf" class="btn" download translate>Download CV</a>
        </div>

        <div class="home-img">
            <img src="../../assets/image/profile-pic (2).png">
        </div>
    </div>
</section>