
.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 970px) {    
    .home {
        min-height: 80vh;
    }

}