
/*=============================== Contact Component Style ========================================*/
h1 {
    font-size: var(--h1-font);
    font-weight: 700;
    text-align: center;
    margin: 20px;
    line-height: 1.1;
    color: var(--main-color);
}
.contact {
    background: #8067f0eb;
    width: 100%;
    margin: 10px auto;
    padding: 70px 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 12px;
   
}

.center h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
    color: var(--text-color);
}

.center p {
    font-size: var(--p-font);
    color: var(--font-color);
    line-height: 26px;
    margin-bottom: 25px;
}

.contact .action form input[type="text"] {
    max-width: 15%;
    width: 470px;
    padding: 12px 15px;
    background: var(--font-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
}

.contact .action form input[type="email"] {
    max-width: 85%;
    width: 470px;
    padding: 12px 15px;
    background: var(--font-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
}

.contact .action form textarea {
    max-width: 100%;
    width: 600px;
    padding: 12px 15px;
    background: var(--font-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 10px;
}

.contact .action input[type="submit"] {
    max-width: 25%;    
    border: none;
    outline: none;
    margin: 0 10px 20px 0;    
    cursor: pointer;
}

.ends {
    text-align: center;
    padding: 20px;
}

.ends p {
    font-size: var(--p-font);
    letter-spacing: 1px;
}

@media (max-width: 540px) {
    .contact .action form input[type="email"] {
        width: 310px;
    }
}
